body{
font-family:Arial;
margin:0;
background:#f4f9ff;
color:#333;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#0A4D8C;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
background:#2A7DE1;
color:white;
text-align:center;
padding:100px 20px;
}

.btn{
background:white;
color:#0A4D8C;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

section{
padding:50px;
text-align:center;
}

.card{
background:white;
padding:20px;
margin:20px auto;
width:250px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

form input, form textarea{
display:block;
margin:10px auto;
padding:10px;
width:60%;
}

button{
background:#0A4D8C;
color:white;
padding:10px 20px;
border:none;
}

footer{
background:#0A4D8C;
color:white;
text-align:center;
padding:20px;
}
